html,
body {
    overflow: hidden;
    width: 100%;
    background-color: #f2f2f2;
}

div span li {
    font-family: Arial,Tahoma,'Hiragino Sans GB W3';
}

#header {
    height: 190px;
}

#container {
    width: 300%;
    -ms-transition: all 1000ms ease;
    transition: all 1000ms ease;
}

.section {
    float: left;
    width: 33%;
}

#section0 {
    position: relative;
    height: 350px;
}

.section:after {
    clear: both;
}

.hidden {
    display: none;
}

.title {
    height: 125px;
    margin: 0 auto;
    text-align: center;

    .main-title {
        font-size: 26px;
        text-align: center;
    }

    .subtitle {
        font-size: 15px;
        margin-top: 18px;
        color: #4c4c4c;
    }
}

.page1_main {
    position: relative;
    text-align: center;

    > div {
        font-size: 16px;
        line-height: 50px;
        display: inline-block;
        height: 50px;
        margin-left: 8px;
        text-align: center;
        background-color: #fff;
    }

    .location {
        width: 110px;
        cursor: pointer;
    }

    .house {
        width: 217px;

        div {
            position: relative;
            display: inline-block;
            padding: 0 6px 0 4px;

            .up {
                position: absolute;
                top: 5px;
                display: block;
                width: 0;
                height: 0;
                cursor: pointer;
                border-width: 0 5px 8.7px 5px;
                border-style: solid;
                border-color: transparent transparent #f2f2f2 transparent;
            }

            .up:hover {
                border-width: 0 6px 10.4px 6px;
                border-color: transparent transparent #000 transparent;
            }

            .down {
                position: absolute;
                bottom: 5px;
                display: block;
                width: 0;
                height: 0;
                cursor: pointer;
                border-width: 8.7px 5px 0 5px;
                border-style: solid;
                border-color: #f2f2f2 transparent transparent transparent;
            }

            .down:hover {
                border-width: 10.4px 6px 0 6px;
                border-color: #000 transparent transparent transparent;
            }
        }
    }

    .area {
        width: 110px;

        input {
            width: 75px;
            height: 49px;
            padding-left: 5px;
            border: 0;
            outline: none;
        }

        .error {
            outline-style: solid;
            outline-color: red;
        }
    }

    .go {
        width: 160px;
        cursor: pointer;
        background-color: #fcec30;
    }
}

.city {
    position: absolute;
    left: 50%;
    width: 635px;
    margin-top: 8px;
    margin-left: -313px;
    animation: fide 3s;
    background-color: #fff;

    ul {
        margin: 0;
        padding-left: 0;

        li {
            padding: 8px 20px;
            list-style: none;
            border-bottom: 1px dashed #e1e1e1;

            span {
                font-size: 14px;
                line-height: 24px;
                position: relative;
                padding-right: 4px;
                cursor: pointer;
                color: #414141;
            }

            span:hover {
                top: 1px;
                left: 1px;
                text-decoration: underline;
                color: #11a5e2;
            }
        }
    }
}

@keyframes fide {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes roll {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.page {
    height: 150px;
    text-align: center;

    div {
        font-size: 14px;
        display: inline-block;
        width: 73px;
        height: 73px;
        border-radius: 73px;
        margin-left: 18px;
        padding: 3px;
        cursor: pointer;
        text-align: center;

        .circle {
            display: block;
            width: 65px;
            height: 65px;
            margin-bottom: 12px;
            border-radius: 65px;
            animation-fill-mode: backwards;
            -webkit-animation-fill-mode: backwards;
        }
    }

    div :hover {
        transition: all 500ms ease;
        transform: scale(1.2);
    }

    .selected {
        border-width: 1px;
        border-style: dashed;
        border-color: #000;
    }

    #icon1, #icon2, #icon3, #icon4, #icon5, #icon6, #icon7 {
        span {
            background-image: url(../img/150.png);
            background-repeat: none;
            background-size: 100% 100%;
        }
    }

    .roll {
        animation: roll .5s;
    }

    .icon1 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }

    .icon2 {
        -webkit-animation-delay: .1s;
        animation-delay: .1s;
    }

    .icon3 {
        -webkit-animation-delay: .2s;
        animation-delay: .2s;
    }

    .icon4 {
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
    }

    .icon5 {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }

    .icon6 {
        -webkit-animation-delay: .5s;
        animation-delay: .5s;
    }

    .icon7 {
        -webkit-animation-delay: .6s;
        animation-delay: .6s;
    }

    #color1 {
        span {
            background-color: #f00;

            @extend .icon1;
        }
    }

    #color2 {
        span {
            background-color: #fcd351;

            @extend .icon2;
        }
    }

    #color3 {
        span {
            background-color: #acdf7c;

            @extend .icon3;
        }
    }

    #color4 {
        span {
            background-color: #316cdb;

            @extend .icon4;
        }
    }

    #color5 {
        span {
            background-color: #aa6b22;

            @extend .icon5;
        }
    }

    #color6 {
        span {
            background-color: #a6a6a6;

            @extend .icon6;
        }
    }

    #color7 {
        span {
            background-color: #fff;

            @extend .icon7;
        }
    }

    #color8 {
        span {
            -webkit-animation-delay: .7s;
            animation-delay: .7s;
            background-color: #1c1c1c;
        }
    }
}

.footer {
    text-align: center;

    .match a {
        font-size: 16px;
        line-height: 50px;
        display: block;
        width: 160px;
        height: 50px;
        margin: auto;
        text-decoration: none;
        color: #4c4c4c;
        border-radius: 3px;
        background-color: #fcec30;
    }

    .match a:hover {
        color: #000;
        background: #ffea00;
    }
}

.back {
    line-height: 50px;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    padding-left: 25px;
    text-align: center;
}

.back:hover {
    padding-left: 2px;
    transition: all 300ms;
}