@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\000031}}
html,
body {
  overflow: hidden;
  width: 100%;
  background-color: #f2f2f2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\000038}}
div span li {
  font-family: Arial,Tahoma,'Hiragino Sans GB W3';
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000312}}
#header {
  height: 190px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000316}}
#container {
  width: 300%;
  -ms-transition: all 1000ms ease;
  transition: all 1000ms ease;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000322}}
.section {
  float: left;
  width: 33%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000327}}
#section0 {
  position: relative;
  height: 350px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000332}}
.section:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000336}}
.hidden {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000340}}
.title {
  height: 125px;
  margin: 0 auto;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000345}}
.title .main-title {
  font-size: 26px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000350}}
.title .subtitle {
  font-size: 15px;
  margin-top: 18px;
  color: #4c4c4c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000357}}
.page1_main {
  position: relative;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000361}}
.page1_main > div {
  font-size: 16px;
  line-height: 50px;
  display: inline-block;
  height: 50px;
  margin-left: 8px;
  text-align: center;
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000371}}
.page1_main .location {
  width: 110px;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000376}}
.page1_main .house {
  width: 217px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000379}}
.page1_main .house div {
  position: relative;
  display: inline-block;
  padding: 0 6px 0 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000384}}
.page1_main .house div .up {
  position: absolute;
  top: 5px;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-width: 0 5px 8.7px 5px;
  border-style: solid;
  border-color: transparent transparent #f2f2f2 transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\0000396}}
.page1_main .house div .up:hover {
  border-width: 0 6px 10.4px 6px;
  border-color: transparent transparent #000 transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003101}}
.page1_main .house div .down {
  position: absolute;
  bottom: 5px;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-width: 8.7px 5px 0 5px;
  border-style: solid;
  border-color: #f2f2f2 transparent transparent transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003113}}
.page1_main .house div .down:hover {
  border-width: 10.4px 6px 0 6px;
  border-color: #000 transparent transparent transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003120}}
.page1_main .area {
  width: 110px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003123}}
.page1_main .area input {
  width: 75px;
  height: 49px;
  padding-left: 5px;
  border: 0;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003131}}
.page1_main .area .error {
  outline-style: solid;
  outline-color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003137}}
.page1_main .go {
  width: 160px;
  cursor: pointer;
  background-color: #fcec30;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003144}}
.city {
  position: absolute;
  left: 50%;
  width: 635px;
  margin-top: 8px;
  margin-left: -313px;
  animation: fide 3s;
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003153}}
.city ul {
  margin: 0;
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003157}}
.city ul li {
  padding: 8px 20px;
  list-style: none;
  border-bottom: 1px dashed #e1e1e1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003162}}
.city ul li span {
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding-right: 4px;
  cursor: pointer;
  color: #414141;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003171}}
.city ul li span:hover {
  top: 1px;
  left: 1px;
  text-decoration: underline;
  color: #11a5e2;
}

@keyframes fide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes roll {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003201}}
.page {
  height: 150px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003205}}
.page div {
  font-size: 14px;
  display: inline-block;
  width: 73px;
  height: 73px;
  border-radius: 73px;
  margin-left: 18px;
  padding: 3px;
  cursor: pointer;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003216}}
.page div .circle {
  display: block;
  width: 65px;
  height: 65px;
  margin-bottom: 12px;
  border-radius: 65px;
  animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003227}}
.page div :hover {
  transition: all 500ms ease;
  transform: scale(1.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003232}}
.page .selected {
  border-width: 1px;
  border-style: dashed;
  border-color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003239}}
.page #icon1 span, .page #icon2 span, .page #icon3 span, .page #icon4 span, .page #icon5 span, .page #icon6 span, .page #icon7 span {
  background-image: url(../img/150.png);
  background-repeat: none;
  background-size: 100% 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003246}}
.page .roll {
  animation: roll .5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003250}}
.page .icon1, .page #color1 span {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003255}}
.page .icon2, .page #color2 span {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003260}}
.page .icon3, .page #color3 span {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003265}}
.page .icon4, .page #color4 span {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003270}}
.page .icon5, .page #color5 span {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003275}}
.page .icon6, .page #color6 span {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003280}}
.page .icon7, .page #color7 span {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003286}}
.page #color1 span {
  background-color: #f00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003294}}
.page #color2 span {
  background-color: #fcd351;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003302}}
.page #color3 span {
  background-color: #acdf7c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003310}}
.page #color4 span {
  background-color: #316cdb;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003318}}
.page #color5 span {
  background-color: #aa6b22;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003326}}
.page #color6 span {
  background-color: #a6a6a6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003334}}
.page #color7 span {
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003342}}
.page #color8 span {
  -webkit-animation-delay: .7s;
  animation-delay: .7s;
  background-color: #1c1c1c;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003350}}
.footer {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003353}}
.footer .match a {
  font-size: 16px;
  line-height: 50px;
  display: block;
  width: 160px;
  height: 50px;
  margin: auto;
  text-decoration: none;
  color: #4c4c4c;
  border-radius: 3px;
  background-color: #fcec30;
}
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003366}}
.footer .match a:hover {
  color: #000;
  background: #ffea00;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003372}}
.back {
  line-height: 50px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding-left: 25px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/renovation\/modify\/renovation\%204\/scss\/main\.scss}line{font-family:\00003381}}
.back:hover {
  padding-left: 2px;
  transition: all 300ms;
}
